html {
  box-sizing: border-box; }

  *, *:before, *:after {
    box-sizing: inherit; }

    code {
      white-space: pre-wrap; }

      .red {
        color: #FF0000; }

        .center-block {
          margin-left: auto;
          margin-right: auto;
          text-align: center; }

          .row-nowrap {
            display: flex;
            flex-flow: row nowrap;
            width: 100%; }

            .row-wrap {
              display: flex;
              flex-flow: row wrap;
              width: 100%; }

              .item-fixed {
                flex: 0 0 auto;
                margin: 0px;
                padding: 0px; }

                .item-sidebar {
                  flex: 0 0 30%;
                  padding: 1em;
                  color: darkblue;
                  background: inherit; }

                  .item-content {
                    flex: 0 0 70%;
                    padding: 2em;
                    color: black;
                    background: inherit; }

                    a, a:link, a:visited {
                      text-decoration: none;
                      color: #990000; }

                      a:hover, a:active {
                        text-decoration: none;
                        color: #FF0000; }

                        .item-content img {
                          width: 100%; }
nav {
  display: flex;
  width: 94%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto; }

  nav > a, nav > a:link, nav > a:visited {
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    flex: 1 1 auto;
    text-align: center;
    color: white;
    background-color: darkblue; }

    nav > a:hover, nav > a:active {
      color: darkblue;
      background-color: lightblue; }

      @media screen and (min-width: 0px) and (max-width: 640px) {
        nav {
          -webkit-flex-flow: column;   }
}
